@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #bd93f9;
}

ul {
    list-style: none;
    font-style: italic;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    height: 100vh;
    background-image: linear-gradient(0deg, transparent -70%, #000000 120%), url('img/pexels-marek-piwnicki-8991545.jpg');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    padding: 5px;
    margin: 1px;
    font-size: 13px;
    border: 0.1px solid;
    border-radius: 6%;
    color: #50fa7b;
    transition: 800ms;
}

header ul li:hover {
    background-color: #001969;
    font-size: 14px;
    cursor: pointer;
}

header ul li img{
    height: 19px;
}

.logo {
    width: auto;
    height: auto;
}
.logo img {
    border: #b17aff71 double;
    margin: 10px 0 0 40px;
    width: 65px;
    height: 65px;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
    color: #fff;
}

.container .name h5 {
    font-size: 20px;
}

.rotate {
    transform: rotate(180deg);
    transition: 500ms;
}

#mensao { 
    padding: 10px;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 8px 0.1px #d8f3df;
    border-radius: 1%;
}

#mensao, p{
    max-width: 600px;
    color: #fff;
}

#mensao, #autor{
    text-align: end;
}

#arrow {
    width: 15px;
    margin: 0 auto;
}

#animation {
    font-size: 20px;
    color: #50fa7b;
    transition: 500ms;
}

#animation:hover{
    color: #b17aff71;
}

.showRepositys {
    display: block !important;
}

.showRepositys h2{
    width: 100%;
    color: #fff;
}
.showRepositys div {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 10px;
}

.showRepositys div div {
    display: block;
    box-shadow: 0px 0px 4px 0.1px #cafcd8;
}

.showRepositys div div img{
    height: 50px;
}

.ttt {
    height: 40px! important; 
    margin-top: 5px;
}

.showRepositys div div a{
    font-weight: bold;
}

.showRepositys div div p{
    margin: auto 20px;
}

.form {
    width: 40%;
    color: #50fa7b;
    margin: 10px auto 0 auto;
}

.form input{
    width: 50%;
    background-color: rgb(182, 182, 182);
    color: #000;
    margin: 0 auto;
}

.form button{
    margin-left: -5px;
    color: #50fa7b;
    width: 15%;
    height: auto;
    background: none;
    border: 0.1px solid currentColor;
    border-radius: 2%;
    cursor: pointer;
    transition: 600ms;
    font-weight: bold;
}

.form button:hover {
    background: #003f91;
    font-size: 14px;
}

#list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#list a {
    color: #fff;
    margin: 0 auto;
}
#list a:hover {
    color: currentColor;
}

@media only screen and (max-width: 480px) {

    body {
        height: 100vh;
        background-image: linear-gradient(0deg, transparent -70%, #000000 120%), url('img/lindo.jpg');
        background-size: cover;
    }

    header ul li{
        font-size: 10px;
    }
    header ul li img{
        height: 10px;
    }
    header ul li:hover{
        font-size: 10px;
    }

    .container .name h1 {
        font-size: 30px;
    }
    .container .name h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #mensao {
        margin: 10px 20% 10px 20%;
        font-size: 12px;
    }
    .showRepositys {
        width: 35%;
        margin: 0 auto;
    }

    .showRepositys h2{
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }

    .showRepositys div{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 5px auto;
        width: 80%;
    }

    .showRepositys div div img{
        height: 30px;
    }

    .ttt{
        height: 22px !important;
        margin-bottom: 3px;
    }

    .showRepositys div div {
        font-size: 8px;
        display: block;
        margin: 5px 5px;
        padding: 1px;
        padding-bottom: 4px;
    }

    .showRepositys div div a{
        font-size: 10px;
    }

    .showRepositys div div p{
        margin: auto 15px;
        font-size: 8px;
    }

    .form {
        width: 100%;
    }
   
    
}
